.body {
    font-family: 'Fira Code', monospace; 
}

.proofcontainer {
    width: 400px; 
    height: 300px;     
    resize: none; 
    font-size: 16px;     
    margin: auto; 
    display: block; 
}

.output {
    margin-top: 20px;
    text-align: center;
    display: block;
}
